<ion-view view-title="All cars"> 
			<ion-content>
                <div>
                    <div class="list">
                        <div class="item item-divider">
                            <h2 align="center">Car List</h2>
                        </div>

                        <a class="item item-avatar" ui-sref="car({ carId: 1})">
                            <img src="http://edvalas.cloudapp.net/images.php?Id=1">
                            <h2 align="center">Audi S4</h2>
                            <p align="center">1992</p>
                        </a>
                        <a class="item item-avatar" ui-sref="car({ carId: 2})">
                            <img src="http://edvalas.cloudapp.net/images.php?Id=2">
                            <h2 align="center">BMW M5</h2>
                            <p align="center">2005</p>
                        </a>
                        <a class="item item-avatar" ui-sref="car({ carId: 3})">
                            <img src="http://edvalas.cloudapp.net/images.php?Id=3">
                            <h2 align="center">Volkswagen Passat CC</h2>
                            <p align="center">2009</p>
                        </a>
                        <a class="item item-avatar" ui-sref="car({ carId: 4})">
                            <img src="http://edvalas.cloudapp.net/images.php?Id=4">
                            <h2 align="center">Nissan GTR</h2>
                            <p align="center">2010</p>
                        </a>
                        <a class="item item-avatar" ui-sref="car({ carId: 5})">
                            <img src="http://edvalas.cloudapp.net/images.php?Id=5">
                            <h2 align="center">Mercedes Benz c63</h2>
                            <p align="center">2008</p>
                        </a>
                        <a class="item item-avatar" ui-sref="car({ carId: 6})">
                            <img src="http://edvalas.cloudapp.net/images.php?Id=6">
                            <h2 align="center">Maybach Exelero</h2>
                            <p align="center">2004</p>
                        </a>
                        <a class="item item-avatar" ui-sref="car({ carId: 7})">
                            <img src="http://edvalas.cloudapp.net/images.php?Id=7">
                            <h2 align="center">Koenigsegg CCXR Trevita</h2>
                            <p align="center">2010</p>
                        </a>
                        <a class="item item-avatar" ui-sref="car({ carId: 8})">
                            <img src="http://edvalas.cloudapp.net/images.php?Id=8">
                            <h2 align="center">Lamborghini Veneno</h2>
                            <p align="center">2013</p>
                        </a>
                        <a class="item item-avatar" ui-sref="car({ carId: 9})">
                            <img src="http://edvalas.cloudapp.net/images.php?Id=9">
                            <h2 align="center">Lykan Hypersport</h2>
                            <p align="center">2014</p>
                        </a>
                        <a class="item item-avatar" ui-sref="car({ carId: 10})">
                            <img src="http://edvalas.cloudapp.net/images.php?Id=10">
                            <h2 align="center">Bugatti Chiron</h2>
                            <p align="center">2016</p>
                        </a>
                    </div>
				</div>
            </ion-content>
        </ion-view>